<ul class="nav flex-column navbar-dark sticky-top">
  <li class="nav-item">
    <a class="nav-link active" ></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" ></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" ></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" ></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" ></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" ></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" ></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" ></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" ></a>
  </li>

  <li class="nav-item">
    <a class="nav-link disabled" href="#" >My Blogs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/write']"> Write a New Blog</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link disabled" >My Account</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link disabled" >Log Out</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link disabled mb-5" >Message from The Blogging Society</a>
  </li>


  <li class="nav-item">
    <a href="#" class="nav-link text-info mt-5" >Blogs last Fetched from Server:{{lastUpdate|timeAgo}}</a>
  </li>


</ul>
