<ul class="nav flex-column navbar-dark sticky-top">
  <li class="nav-item">
    <a class="nav-link active" href="#"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#"></a>
  </li>

  <li class="nav-item">
    <a class="nav-link disabled" href="#">My Blogs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/write']"> Write a New Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">My Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Log Out</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Message from The Blogging Society</a>
  </li>
</ul>
